* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    font-family:'Poppins', sans-serif;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #003b03;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#003b03;
    position:sticky;
    top:0;
}

nav .logo{
    color:#fff;
    font-size:28px;
    font-weight:bold;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{
    color:#f4b400;
}

.hero{
    height:100vh;
    background:url('https://png.pngtree.com/thumb_back/fh260/background/20230705/pngtree-sophisticated-bar-and-restaurant-boasting-luxurious-modern-design-featuring-elegant-furnishings-image_3720689.jpg') center/cover;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:60px;
}

.hero button{
    padding:12px 30px;
    border:none;
    background:#f4b400;
    border-radius:30px;
    cursor:pointer;
    transition:0.3s;
}

.hero button:hover{
    transform:scale(1.05);
}

.btn {
    background: #ffe600;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.content {
    padding: 50px;
    line-height: 1.8;
}

.page-title {
    background: #695a00;
    color: white;
    text-align: center;
    padding: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background:white;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

input,
textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #695a00;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

@media(max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        margin-top: 10px;
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 32px;
    }
}
