* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

header {
    background: #003b03;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?q=80&w=1200') center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    background: #ffe600;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.content {
    padding: 50px;
    line-height: 1.8;
}

.page-title {
    background: #695a00;
    color: white;
    text-align: center;
    padding: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

input,
textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #695a00;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

@media(max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        margin-top: 10px;
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 32px;
    }
}
.service img {
    width: 10px;
    height: 200px;
    object-fit: cover;
}